@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<div class="alert-info">
    <address>
        <strong class="alert-heading">Address && Phone:</strong><br />
        Sousse, Tunisie<br />
        <abbr title="Phone">Phone:</abbr>
        216 92 316 945
    </address>
    </div>
    <div class="alert-info">
        <address>
            <strong class="alert-heading">Support:</strong><br /> <a href="mailto:melek.ferhi@gmail.com">Melek.ferhi@gmail.com</a><br />

        </address>
    </div>
